.navbar-container {
  justify-content: space-between;
  height: 93px;
  align-items: center;
  min-width: 83vw;
  margin: 30px;

  .header-subtitle {
    align-self: flex-end;
    color: #927979;
  }

  .header-links {

    .header-link {
      margin: 0 20px;
      color: #756E6E;
      font-size: 25px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;

      &.active {
        border-bottom: 3px solid #95C4E7;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

.sign-out-button {
  background: none;
  border: none;
}

}
