<div class="login-wrap main-container">
    <div class="login-html">
        <div class="login-form">
            <form class="sign-up-htm" [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div class="group">
                    <label for="pass" class="label">Uloga</label>
                    <select name="position" id="pos" formControlName="position" (change)="showDiv($event)" required>
                        <option value="placeholder" [selected]="true" [hidden]="true">Odaberi ulogu...</option>
                        <option value="voditeljPostaje">Voditelj postaje</option>
                        <option value="istrazivac">Istraživač</option>
                        <option value="tragac">Tragač</option>
                    </select>
                </div>
                <div class="group" id="abilities">
                    <label for="pass" class="label">Kompetencije</label>
                    <ng-select [items]="abilities" bindLabel="name"
                    bindValue="id" [multiple]="true" [closeOnSelect]="false"
                    [appendTo]="'body'"
                    formControlName="educatedFor" placeholder="Odaberite kompetencije" >
                    </ng-select>
                </div>
                <div class="group">
                    <label for="pass" class="label">Osobna fotografija</label>
                    <input type="file" id="myFile" name="filename" formControlName="clientPhotoURL"
                    accept="image/png, image/jpeg, image/jpg" >
                </div>
                <div class="group" id="nameSurname">
                    <div class="group" id="name">
                        <label for="user" class="label">Ime</label>
                        <input id="user" type="text" class="input" required formControlName="firstname" placeholder="Unesite ime">
                    </div>
                    <div class="group" id="surname">
                        <label for="user" class="label">Prezime</label>
                        <input id="user" type="text" class="input" formControlName="lastname" placeholder="Unesite prezime" required>
                    </div>
                </div>
                <div class="group">

                </div>
                <div class="group">
                    <label for="user" class="label">Korisničko ime</label>
                    <input id="user" type="text" class="input"  formControlName="clientName" placeholder="Unesite korisničko ime (započinje slovom)" required>
                </div>
                <div class="group">
                    <label for="pass" class="label">Lozinka</label>
                    <input id="pass" type="password" class="input" data-type="password" formControlName="password" placeholder="Unesite lozinku  (min 8 znakova)" required>
                </div>
                <div class="group">
                    <label for="pass" class="label">Email adresa</label>
                    <input id="pass" type="email" class="input" formControlName="email" placeholder="Unesite email adresu (npr.  filip.vitkovic@gmail.com)" required>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Registriraj se" >
                </div>
            </form>
        </div>
    </div>
</div>

