<div class="login-wrap main-container">
    <div class="login-html">
        <div class="login-form">
            <form class="sign-up-htm" [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <div class="group">
                    <label for="pass" class="label">Uloga</label>
                    <select name="position" id="pos" formControlName="role" (change)="showDiv($event)" required>
                        <option value="placeholder" [selected]="true" [hidden]="true">Odaberi ulogu...</option>
                        <option value="voditeljPostaje">Voditelj postaje</option>
                        <option value="istrazivac">Istraživač</option>
                        <option value="tragac">Tragač</option>
                    </select>
                </div>
                <div class="group" id="abilities">
                    <label for="pass" class="label">Kompetencije</label>
                    <tr *ngFor="let n of abilities">
                        <input type="checkbox" formControlName="educatedFor" checked="false" [value]="n.id" (change)="onChangeAbility($event)"> {{n.name}}
                    </tr>
                </div>
                <div class="group">
                    <label for="pass" class="label">Osobna fotografija</label>
                    <input type="file" id="myFile" name="filename" formControlName="clientPhotoURL"
                    accept="image/png, image/jpeg, image/jpg" >
                </div>
                <div class="group" id="nameSurname">
                    <div class="group" id="name">
                        <label for="user" class="label">Ime</label>
                        <input type="text" class="input" required formControlName="firstName" placeholder="Unesite ime">
                    </div>
                    <div class="group" id="surname">
                        <label for="user" class="label">Prezime</label>
                        <input type="text" class="input" formControlName="lastName" placeholder="Unesite prezime" required>
                    </div>
                </div>
                <div class="group">

                </div>
                <div class="group">
                    <label for="user" class="label">Korisničko ime</label>
                    <input type="text" class="input"  formControlName="clientName" placeholder="Unesite korisničko ime (započinje slovom)" required>
                </div>
                <div class="group">
                    <label for="pass" class="label">Lozinka</label>
                    <input type="password" class="input" data-type="password" formControlName="password" placeholder="Unesite lozinku  (min 8 znakova)" required>
                </div>
                <div class="group">
                    <label for="pass" class="label">Email adresa</label>
                    <input type="email" class="input" formControlName="email" placeholder="Unesite email adresu (npr.  filip.vitkovic@gmail.com)" required>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Registriraj se" >
                </div>
            </form>
        </div>
    </div>
</div>

