<div class="upper-div">
    <h2>Komentari</h2>
    <div class="close-button">
        <button mat-button mat-dialog-close class="close-btn">X</button>
    </div>
</div>
<hr style="width:90%;text-align:left;margin-left:5%">
<div *ngIf="comments !== undefined">
    <div *ngIf="comments.length > 0">
        <div *ngFor="let dataSets of this.data.dataForDialog;">
            <div class="comment">
                <p>{{dataSets.explorerName}}: {{dataSets.animalComment}} [{{dataSets.commentTimestamp.split(".")[0]}}]</p>
            </div>
        </div>
    </div>
    <div *ngIf="comments.length === 0" class="no-comment">
        <p>Nema komentara za zadanu životinju</p>
    </div>
</div>
<div *ngIf="this.role === 'tragac'">
    <textarea [(ngModel)]="newComment" placeholder="Unesite novi komentar" class="comment-input"></textarea>
<button mat-button mat-dialog-close class="btn1" (click)="addComment()" type="button">Dodaj komentar</button>
</div>
