*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
#title-signIn{
	display: flex;
	justify-content: center;
	font-size: 3rem;
	background-size: 100%;
	background-repeat: no-repeat;
	color:white;
}
:host {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 3rem;
  }
.login-wrap{
	display: flex;
	justify-content: center;
	width:100vw;
	margin:auto;
	margin-top: 8rem;
	max-width:525px;
	min-height:600px;
	min-width: 358px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:50px 70px 50px 70px;
	background:white;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:0;
}
.login-form .group .label,
.login-form .group .button{
	width:100%;
	color:rgb(117, 110, 110);
	display:block;
}
.login-form .group .input{
	color:black;
	display:block;
	width:100%;
}
.login-form .group .input,
.login-form .group .button{
	padding:10px 20px;
	border-radius:10px;
	background:white;
	border-color: rgb(117, 110, 110);
}
.login-form .group input[data-type="password"]{
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:rgb(117, 110, 110);
	font-size:12px;
}
.login-form .group .button{
	background:#95C4E7;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgb(96, 116, 102);
}

.login-form .group .check:checked + label{
	color:#fff;
}

.sign-in-htm{
    padding-top: 1rem;
}
#myFile{
	color: rgb(240, 235, 216);
}

body{
	font:600 16px/18px;
    font-family: Arial, Helvetica, sans-serif;
}

.group{
	padding-top: 0.3rem;
}
:hover .button {
	cursor: pointer;
}
:hover .tab{
	cursor: pointer;
} 

#abilities{
	display: none;
}

#stations{
	display:none;
}

.button{
	margin-top: 5px;
}

#nameSurname{
	display: flex;
	justify-content: space-evenly;
}
