table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    background-color: #F5F5F5;
}

th {
    border-top: 1px solid #787878;
    border-bottom: 1px solid #787878;
    padding: 8px;
    text-align: center;
    background-color: #F5F5F5;
    font-size: 20px;
    color: #927979;
}

td {
    border: none;
    font-style: normal;
    padding: 8px;
    background-color: #F5F5F5;
    width: 2%;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
}


.upper-div {
    display: flex;
    width: 218px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: left;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 2%;
}

h2 {
    color: #333;
    margin-bottom: 5px;
    font-size: 30px;
    margin-top: 10%;
}

.custom-image {
    width: 100%;
    height: 6%;
}

button {
    width: 10%;
    height: 20%;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    box-sizing: content-box;
}

img {
    max-width: 100%;
    height: auto;
    background-color: #F5F5F5;
}

.custom-button {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #F5F5F5;
}

.custom-button:hover {
    transform: scale(1.2);
}


.mat-elevation-z8 {
    margin: 29px;
    background-color: #F5F5F5;
}

mat-paginator {
    background-color: #F5F5F5;
}


@media screen and (max-width: 740px) {
    table {
        border: 0;
        vertical-align: middle;
        margin-top: 0;
    }

    table th {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .red {
        display: block;
        border-bottom: 5px solid rgba(0, 0, 0, 0.5);
        height: 10%;
        align-items: center;
        padding-top: 4%;
    }

    table td {
        border: initial;
        display: block;
        font-size: 15px;
        text-align: right;
        height: 30px;
        width: 98%;
        margin-left: 1%;
        color: #000;
        border-bottom: 1px solid #ddd !important;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        color: #927979;
        font-weight: 600;
        font-size: 0.85em;
    }

    table td:last-child {
        margin-bottom: 5%;

    }

    table td:first-child {
        margin-top: 0%;
    }

    .upper-div {
        display: block;
        width: auto;
        height: auto;
        flex-direction: initial;
        justify-content: initial;
        text-align: initial;
        font-family: initial;
        font-size: initial;
        font-style: initial;
        font-weight: initial;
        line-height: initial;
        margin-left: initial;
        text-align: center;
        height: 10px;
        justify-content: center;
        width: 100%;
        height: 0px;
        padding-right: 30%;
        margin-left: 0%;
    }

    h2 {
        font-size: 25px;
        padding-top: 20px;
        margin-bottom: 0;
        text-align: center;
        margin-left: 22%;
        width: 100%;
    }

    .mat-elevation-z8 {
        margin: 29px;
    }

    .custom-image {
        width: auto;
        /* Make the image responsive up to the screen width */
        height: auto;
    }

    .custom-button {
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        transition: transform 0.3s ease;
        width: 18px;
    }

}

@media only screen and (max-width: 576px) {
    .mat-elevation-z8 {
        margin: 10px;
        background-color: white;
    }
}