<div class="mat-elevation-z8">
  <div class="upper-div">
    <h2>Popis korisnika</h2>
</div>
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef> Korisničko ime </th>
        <td mat-cell *matCellDef="let element" data-label="Korisničko ime"> {{element.clientName}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Ime </th>
        <td mat-cell *matCellDef="let element" data-label="Ime"> {{element.firstName}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Prezime </th>
        <td mat-cell *matCellDef="let element" data-label="Prezime"> {{element.lastName}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element" data-label="Email"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Uloga </th>
        <td mat-cell *matCellDef="let element" data-label="Uloga"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="Uredi podatke">
        <th mat-header-cell *matHeaderCellDef> Uredi podatke </th>
        <td mat-cell *matCellDef="let element" data-label="Uredi podatke">
         <button class="custom-button" (click)="redirectToEditPage(element.id)">
            <img src="assets/img/arrow.png" alt="Arrow" class="custom-image" />
          </button>
        </td>
      </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="matRed"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="red"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
