<div class="main-container">
  <div class="title">Podaci o postaji</div>
  <div class="content flex">
    <div style="margin-top: 20px; margin-right: 100px;">
      <div class="info">Naziv postaje: {{stationName}}</div>
      <div class="info">Površina postaje: {{stationSurface}}</div>
    </div>

    <div class="tragaci" style="margin-top: 20px;">
      <div class="info">U vašoj postaji još nema tragača. Molimo odaberite ih: </div>
      <mat-form-field>
        <mat-select placeholder="Tragači" [formControl]="tragaci" multiple>
          <mat-option *ngFor="let tragac of tragaci2" [value]="tragac">{{tragac}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="save-button">Spremi tragače</button>

    </div>

  </div>


</div>
