.main-container {
  margin: 30px;
}

.content {
  height: 550px;
}

.title {
  border-bottom: 1px solid #787878;
  padding: 20px;
  font-size: 25px;
}

.info {
  padding: 20px;
  font-size: 20px;
}

.list {
  padding: 20px 0;
  font-size: 18px;
}

.tragaci {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}
.add-new-text {
  font-size: 16px;
}

.light-text {
  color: #756E6E;
  margin-right: 10px;
}

.save-button {
  background-color: #95C4E7;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  transition: 0.3s;
  color: #756E6E;
  width: fit-content;
  align-self: center;

  &:hover {
    cursor: pointer;
    background-color: #548ca9;
  }
}

.main-container {
  margin-top: 0;
}

.map-container {
  height: 80%;
  width: 40%;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.custom-tooltip {
  background-color: white;
  border: 1px solid red;
  padding: 8px;
  font-size: 14px;

  &:focus {
    outline: none;
  }

}
