.outer-wrapper{
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: white;
  padding: 20px;
  margin: 30px;
}

.top{
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.center-grid{
  display: flex;
  justify-content: space-evenly;
}

select{
  background-color: transparent;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 0.8rem;
  cursor: pointer;
  line-height: inherit;
  border-color: rgb(117, 110, 110);
  border-radius: 10px;
}

.listOfTasks{
  border: 1px solid black;
  border-radius: 10px;
  min-height: 10rem;
  height:auto;
}

button {
  color: #736969;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.8rem;
  background-color: rgb(122, 187, 204);
}

.btn-add:hover{
    background-color: rgb(88, 141, 156);
}

.btn-dismiss {
  background-color: rgb(198, 192, 192);
}

.btn-dismiss:hover {
  background-color: rgb(136, 119, 119);
}

.taskDefining{
  display: flex;
  height: 30rem;
  width: 40%;
}

#description{

}

.sendButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendAction{
  font-size: 1.5rem;
}

.sendAction:hover{
  background-color: rgb(88, 141, 156);
}

#education{
  width:14rem;
}

.inner-grid{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#education-div{
  display:flex;
  justify-content: center;
}

.buttons-div{
  display: flex;
  gap: 5px;
}

.firstColDiv{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 25%;
}

.map-container {
  height: 100%;
  width: 100%;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
}

#map {
  height: 100%;
  width: 100%;
}

.flex{
  width:10rem;
}

.description-div{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width:10rem;
}
.listOfTasks-div{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25%;
}
