.outer-wrapper{
  display: grid;
  height: 100%;
  background-color: white;
  padding: 20px;
  margin: 30px;
  grid-template-rows: 1fr 6fr 1fr;
}

.top{
  width: 100%;
  font-size: 1.2rem;
}

.center-grid{
  display: grid;
  grid-template-columns: 1.5fr 2fr 3fr;
  grid-gap: 20px;
  justify-content: center;
}

select{
  background-color: transparent;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 0.8rem;
  cursor: pointer;
  line-height: inherit;
  border-color: rgb(117, 110, 110);
  border-radius: 10px;
}

.listOfTasks{
  border: 1px solid black;
  border-radius: 10px;
  min-height: 10rem;
  height:auto;
}

button {
  color: #736969;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.8rem;
  background-color: rgb(122, 187, 204);
}

.btn-add:hover{
    background-color: rgb(88, 141, 156);
}

.btn-dismiss {
  background-color: rgb(198, 192, 192);
}

.btn-dismiss:hover {
  background-color: rgb(136, 119, 119);
}

.taskDefining{
  display: grid;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 1fr;
  grid-gap: 20px;
}

#description{
  height:5rem;
  width: 14rem;
}

.sendButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendAction{
  font-size: 1.5rem;
}

.sendAction:hover{
  background-color: rgb(88, 141, 156);
}

#education{
  width:14rem;
}

