.form-container {
  width: 100%;
  margin: 20px;
}

.text {
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-row: span 3;
    margin-right: 20px;
}

.buttons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  & button {
    margin: 15px;
  }
}

h2 {
  color: #756E6E;
  font-family: 'Poppins', sans-serif;
  margin: 20px 0 20px 30px;
  font-size: 25px;
}

.upper-div {
    display: flex;
    border-bottom: 2px solid #756E6E;
}

button, .custom-file-input {
    color: #736969;
    padding: 5px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

.btn1 {
  background-color: rgb(198, 192, 192);
  &:hover {
    background-color: rgb(136, 119, 119);
  }
}

.btn2 {
  background-color: #95C4E7;
  &:hover {
    background-color: rgb(88, 141, 156);
  }
}

.form-inputs {
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}

.form-input-container {
    position: relative;
    align-items: center;

    .form-input {
        border: 1px solid #5b5656;
        border-radius: 10px;
        padding: 15px;
        width: 300px;
        font-size: large;
        margin: 10px;
        background-color: #F5F5F5;
    }

    .form-input-username {
        border: 1px solid #5b5656;
        border-radius: 10px;
        padding: 9px;
        width: 100%;
        pointer-events: none;
    }

    .form-input-label {
        position: absolute;
        top: 29px;
        left: 14px;
        transition: .3s;
        padding: 0 2px;
        line-height: 20px;
        font-size: 20px;
        background-color: #F5F5F5;
    }

    .form-input:focus+.form-input-label,
    .form-input:not(:placeholder-shown)+.form-input-label {
        top: -1px;
    }

    .dataProfil {
        border: solid;
        justify-content: space-between;
        height: 93px;
        align-items: center;
        min-width: 83vw;
        margin: 20px 30px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }

    .column {
        width: 50%;
        float: left;
        padding: 20px;
        box-sizing: border-box;
    }

    .column:nth-child(odd) {
        background-color: #f0f0f0;
    }


    & h2 {
        color: #333;
    }

  & p {
        color: #666;
    }

}

#imagePreview {
    display: flex;
    padding-left: 1rem;
}

#abilityGrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-left: 1rem;
}

#labelEducatedFor{
  padding-left: 1rem;
  font-size:20px;
}

.ErrorMessage{
  color: red;
  font-size:0.8rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.custom-file-input {
  display: inline-block;
  padding: 5px 30px;
  cursor: pointer;
  width: fit-content;
  transition: 0.2s;
  background:#95C4E7;
  border-radius: 15px;
  color: rgb(117, 110, 110);
  font-size: 16px;
  margin: 15px;

  &:hover {
    background-color: rgb(88, 141, 156);
  }
}

input[type="file"]{
  display: none;
}

.up-div{
  display:flex;
  flex-direction: column;
}
.in-div{
  display:flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.button-and-text{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}

.rejectTitle{
  display: flex;
  justify-content: center;
}

.main-content {
  justify-content: space-between;
  margin: 0 30px;
}
