<div class="hole-div main-container" *ngIf="currentUser">
  <div class="da" *ngIf="currentUser.Status !== 'REJECTED'">
    <div class="upper-div"><h2>Podaci o profilu</h2> <h2 *ngIf="currentUser.Status === 'PENDING'" style="margin-left: 0;"> - još niste potvrđeni od administratora</h2></div>
    <div class="flex">
      <div class="flex-column form-container" [formGroup]="profileForm">
        <div class="flex main-content">
          <div>
            <div id="imagePreview"></div>
            <label class="custom-file-input">
              Promijenite fotografiju
              <input type="file" id="myFile" name="filename"
                     accept="image/png, image/jpeg, image/jpg" (change)="handleFileInput($event)">
            </label>
          </div>
          <div class="form-inputs flex">
            <div *ngFor="let key of keys" class="form-input-container">
              <div>
                <input type="text" class="form-input" [formControlName]="turnToRightFormat[key]" placeholder=" ">
                <label class="form-input-label">{{localStorage[key]}}</label>
                <div *ngIf="key=='Name' && this.profileForm.controls.firstName.invalid" class="ErrorMessage">Unos imena je
                  obvezan <br>i ono
                  se mora sastojati samo od slova.
                </div>
                <div *ngIf="key=='Surname' && this.profileForm.controls.lastName.invalid" class="ErrorMessage">Unos
                  prezimena je obvezan <br>i ono
                  se mora sastojati samo od slova.
                </div>
              </div>
            </div>
            <div *ngIf="role==='tragac'">
              <label class="form-input-label" id="labelEducatedFor">Kompetencije</label>
              <div id="abilityGrid" class="checkbox-container">
                <tr *ngFor="let n of abilities">
                  <input type="checkbox" [checked]="Checked(n.name)" [value]="n.id"
                         (change)="onChangeAbility($event)"> {{n.name}}
                </tr>
              </div>
              <div *ngIf="checkEducatedFor()" class="ErrorMessage">Morate odabrati barem jednu kompetenciju</div>
            </div>
          </div>
        </div>

        <div class="buttons">
          <button class="btn2" type="submit" (click)="saveUserData()">Spremi</button>
          <button class="btn1" (click)="refreshData()" type="button">Odustani</button>
        </div>
      </div>
      <p *ngIf="role==='tragac'" class="text">Još niste odabrani ni za jednu postaju!</p>
    </div>
  </div>

  <div class="rejected-container">
    <div class="up-div" *ngIf="currentUser.Status === 'REJECTED'">
      <div class="rejectTitle">
        <h2>Vaš zahtjev je odbijen!</h2>
      </div>
      <hr class="divider">
      <div class="in-div">
        <h3>
          <br>
          Administrator je odbio vaš zahtjev za registraciju. Pokušajte se registrirati sa drugom ulogom<br>
        </h3>
      </div>
      <div class="button-and-text">
        <button (click)="deleteUser()" class="btn1">Ponovno izradite račun</button>
        <p class="additional-text">Vaš profil je obrisan. Kliknite ovaj gumb i stvorite novi!</p>
      </div>
    </div>
  </div>

</div>


