
<div class="flex" style="height: 550px">
  <div style="margin-left: 30px; width: 70%; height: 100%;" class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <div class="main-container main flex-column" style="margin-right: 30px" *ngIf="tasks && tasks.length === 0">
    <span class="no-actions-text">Još niste pozvani u akciju i nemate zadataka!</span>
  </div>
  <div class="main-container tasks" style="width: 24%; margin-left: 30px" *ngIf="tasks && tasks.length !== 0">
    <div class="title flex-column">
      <span>Zadaci u akciji</span>
      <span class="small">Za svaki zadatak postavljanja kamere, GPS-a ili dolaska do lokacije potrebno je označiti tu lokaciju na karti unutar područja prikazanog crvenom bojom</span>
    </div>
    <div class="tasks-list">
      <ng-container class="flex-column" *ngFor="let task of tasks; let i = index">
        <div class="flex task" (click)="onTaskClick(task, i)">
          <input [id]="i" class="checkbox" type="checkbox" (change)="onCheckboxChange($event, task, i)" disabled>
          <div class="flex-column task-container">
            <span class="task-info" style="margin-left: 20px">{{task.taskDescription.split(": ")[0]}}</span>
            <span class="task-info desc" style="margin-left: 20px">{{task.taskDescription.split(": ")[1]}}</span>
            <span class="task-info desc" style="margin-left: 20px" *ngIf="task.locationSet && task.taskDescription.split(': ')[0] !== 'Prođi rutom'">Postavljena lokacija: {{task.locationSet}}</span>
            <input [id]="i+ 'input'" class="input task-info desc" type="text" *ngIf="task.clicked">
          </div>
        </div>
      </ng-container>
    </div>
    <div class="error-message">{{errorMessage}}</div>
  </div>
</div>



