.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main p {
  color:black;
  text-align: center;
  font-size: 30px;
  line-height: 2rem;
}

.tasks {
  text-align: center;
  overflow-y: scroll;
  height: 550px;

  .title {
    font-size: 22px;
    margin-top: 20px;
    color: #756E6E;
    border-bottom: 2px solid #927979;
    padding-bottom: 20px;
  }

  .tasks-list {
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;

    .task {
      font-size: 20px;
      margin: 10px;
      background: #d4cbcb;
      border-radius: 15px;
      padding: 10px;
      width: 100%;
    }
  }

  .button {
    background-color: #95C4E7;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    transition: 0.3s;
    color: #756E6E;

    &:hover {
      cursor: pointer;
      background-color: #548ca9;
    }
  }
}
.main-container {
  margin-top: 0;
  margin-right: 0;
}

.map-container {
  height: 100%;
  width: 100%;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.checkbox {
  align-self: start;
  margin-top: 3px;
}

.small {
  margin-top: 10px;
  font-size: 15px;
}

.task-info {
  text-align: start;
  border-radius: 20px;
  outline: none;

  &.input {
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 15px;
    width: 80%;
  }

  &.desc {
    font-size: 18px;
    color: #756E6E;
    margin-top: 10px;
  }
}

.error-message {
  color: red;
  font-size: 16px;
  text-align: start;
  margin-left: 20px;
  margin-top: 7px;
}

.no-actions-text {
  font-size: 24px;
  margin: 10px;
  line-height: 30px;
  text-align: center;
  max-width: 300px;
}

.custom-file-input {
  display: flex;
  padding: 6px 10px;
  cursor: pointer;
  border: 1px solid #927979;
  width: max-content;
  transition: 0.2s;
  margin: 10px 20px;
  background:#95C4E7;
  border-radius: 10px;
  color: rgb(117, 110, 110);
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}
input[type="file"]{
  display: none;
}

.form-input-container {
  margin: 20px;
  margin-bottom: 0px;
  position: relative;
  width: 70%;

  .form-input {
    border: 2px solid #756E6E;
    border-radius: 10px;
    padding: 8px;
    background-color: #d4cbcb;
    width: 100%;

    &:focus-visible {
      outline: none;
    }
  }

  .form-input-label {
    color: #756E6E;
    position: absolute;
    top: 12px;
    left: 14px;
    transition: .3s;
    padding: 0 2px;
    line-height: 15px;
    font-size: 18px;
  }

  .form-input:focus + .form-input-label,
  .form-input:not(:placeholder-shown) + .form-input-label {
    top: -8px;
    background-color: #d4cbcb;
    outline: none;
  }

  .form-input:focus + .form-input {
    border: 2px solid #756E6E;
    outline: none;
  }
}

.task-container {
  width: 100%;
}

img {
  height: 20px;
}

.arrow-button {
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
