<div class="upper-div">
    <h2>Upravljanje zahtjevom</h2>
    <div class="close-button">
        <button mat-button mat-dialog-close class="close-btn">X</button>
    </div>
</div>
<hr style="width:90%;text-align:left;margin-left:5%">
<div class="container">
    <div class="left-column">

    </div>
    <div class="right">
        <div class="column column1">
            <h2>Ime: {{ datas.firstName }}</h2>
            <h2>Prezime: {{ datas.lastName }}</h2>
            <h2>Email: {{datas.email}}</h2>

        </div>
        <div class="column column2">
            <h2>Korisničko ime: {{ datas.clientName }}</h2>
            <h2>Uloga: {{ datas.role }}</h2>
            <h2>Postaja: {{ datas.stationName}}</h2>

        </div>
    </div>
    <div class="btns">
        <button class="btn2" (click)="acceptUser(datas.clientName)" type="button"
            [mat-dialog-close]="dataSource">Prihvati zahtjev</button>
        <button class="btn1" (click)="deleteUserRequset(datas.clientName)" type="button"
            [mat-dialog-close]="dataSource">Odbaci zahtjev</button>
    </div>
</div>