table {
  border-collapse: collapse;
  width: 90%;
  margin: 20px 50px;
}
th, td {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 15px;
  font-size: 20px;
  text-align: center;

  &:first-of-type {
    border-left: none;
  }
}

th {
  color: #756E6E;
  font-weight: 500;
}

tr {
  &:last-of-type {

    & td {
      border-bottom: none;
    }
  }
}

  .no-actions-text {
    height: 100%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-container {
    height: 100%;
  }

button {
  height: 20px;
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }

  & img {
    height: 20px;
  }
}

