<ng-container *ngIf="dataSource === undefined || dataSource.length === 0; else hasRequests">
    <div class="noReq">
        <h1>Nema zahtjeva!</h1>
    </div>
</ng-container>
<ng-template #hasRequests>
    <div class="hole-div">
        <div class="upper-div">
            <h2>Zahtjevi korisnika za registraciju</h2>
        </div>
        <hr style="width:90%;text-align:left;margin-left:5%">
        <div *ngFor="let user of dataSource; let i = index" class="request">
            <div class="zahtjev">
                <p>Zahtjev za ulogu <strong>{{user.role}}</strong> - <strong>{{user.firstName}} {{user.lastName}}</strong></p>
                    <button class="btn1" (click)="openDialog(user)" type="button">Upravljaj zahtjevom</button>
            </div>
        </div>
    </div>
</ng-template>
